MESHCORE_HOST=192.168.1.1
MESHCORE_PORT=5000

MATRIX_HOMESERVER=SERVER.NAME
MATRIX_HOMESERVER_URL="https://matrix.server.name"
MATRIX_BOT_MXID=@MX_ID_HERE:SERVER.NAME
MATRIX_AS_TOKEN=AS_TOKEN_HERE
MATRIX_HS_TOKEN=HS_TOKEN_HERE
MATRIX_DEFAULT_ROOM=!ROOMID:SERVER.NAME